---
import Container from "@/components/container.astro";
import Divider from "@/components/divider.astro";
import EntriesList from "@/components/entries-list.astro";
import Entry from "@/components/entry.astro";
import ExternalLink from "@/components/icons/external-link.astro";

import { site } from "@/consts";
import DocLayout from "@/layouts/document.astro";
import {
  getLastEntriesByAllCollections,
  getUniqueTags,
  getAllCollectionsByCategory,
} from "@/lib/collections";

const collections = await getAllCollectionsByCategory();
const latests = await getLastEntriesByAllCollections();
const tags = await getUniqueTags();
const meta = site.pages.home;
---

<DocLayout {...meta}>
  <Container>
    <div>
      <h1>me·ansango</h1>
      <p>
        <strong>Aníbal Santos</strong> al teclado, aquí no escribo sobre tecnología,
        eso es en <a
          href="https://dev.ansango.com"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center underline"
          >dev.ansango.com <ExternalLink />
        </a>.
      </p>
      <p>
        En este espacio escribo sobre música y libros, estilo de vida, algún que
        otro viaje y puede que reflexiones personales. Si estás buscando mis
        fotos, aún no tengo un lugar para ellas, pero todo llegará 🥲
      </p>

      <div class="py-5">
        <section class="group">
          <h2>
            <a class="text-muted hover:text-muted">Última publicación</a>
          </h2>
          <div>
            {
              latests.map((latest) => {
                return (
                  <a
                    href={`/${latest.collection}/${latest.slug}`}
                    class="hover:no-underline"
                  >
                    <Entry entry={latest} />
                  </a>
                );
              })
            }
          </div>
          <Divider />
        </section>

        {
          tags.length > 0 && (
            <section>
              <h2>
                <a class="text-muted" href="/tags">
                  Tags
                </a>
              </h2>

              <ul class="flex flex-wrap gap-1">
                {tags.map((tag, i) => {
                  return (
                    <li>
                      <a class="underline flex" href={`/tags/${tag}`}>
                        {tag}
                        {i !== tags.length - 1 && (
                          <span class="text-muted">,</span>
                        )}
                      </a>
                    </li>
                  );
                })}
              </ul>
              <Divider />
            </section>
          )
        }

        {
          Object.entries(collections).map(([collection, entries]) => {
            const slicedEntries = entries.slice(0, meta.entriesPerPage);
            const collectionlink = `/${collection}`;
            return (
              <section>
                <h2>
                  <a class="text-muted capitalize" href={collectionlink}>
                    {collection}
                  </a>
                </h2>
                <EntriesList entries={slicedEntries} className="space-y-2" />
                {entries.length > meta.entriesPerPage && (
                  <span class="block mt-4 text-sm">
                    <a class="text-muted" href={collectionlink}>
                      Ver todas las publicaciones →
                    </a>
                  </span>
                )}
              </section>
            );
          })
        }
      </div>
    </div>
  </Container>
</DocLayout>
