---
import { ViewTransitions } from "astro:transitions";
import HeadScript from "@/components/head.script.astro";
import HeadGA from "@/components/head.script.ga.astro";
import HeadCode from "@/components/head.script.code.astro";
import "../assets/switzer.css";
interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = "/avatar.jpeg" } = Astro.props;
---

<head>
  <!-- Global Metadata -->
  <meta charset="utf-8" />

  <link href="/site.webmanifest" rel="manifest" />
  <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
  <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
  <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
  <link color="#4a9885" href="/safari-pinned-tab.svg" rel="mask-icon" />
  <meta content="#171717" name="theme-color" />
  <meta content="#171717" name="msapplication-TileColor" />
  <meta content="/browserconfig.xml" name="msapplication-config" />

  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <link rel="sitemap" href="/sitemap-index.xml" />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />

  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={new URL(image, Astro.url)} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={new URL(image, Astro.url)} />

  <!-- Head Scripts -->

  <ViewTransitions />
  <HeadScript />
  <HeadCode />
  <HeadGA />
</head>
